<footer module="layout_footerPackage">
<!--@css(/css/module/layout/3/footerpackage.css)-->
    <div class="footerMenu">
        <p class="util">
            <a href="#none" onclick="javascript:isPCver();" class="btnUtil">PC버전</a>
        </p>
        <ul class="policy">
            <li><a href="/member/mall_agreement.html">이용약관</a></li>
            <li><a href="/member/privacy.html"><strong>개인정보취급방침</strong></a></li>
        </ul>
    </div>
    
    <p class="copyright">Copyright&copy; 2018 3DHeaven. All Rights Reserved.</p>
</footer>